{% set data = __SELF__.country %}

<h1>{{ __SELF__.ajax }}</h1>
<form>
    <select data-request="onSelect" name="parent_selection" id="parent_selection">
        <option value="0">-- select plz country --</option>
        {% for key, country in data %}
        <option value="{{ key }}">{{ country.name }}</option>
        {% endfor %}
    </select>

    <select name="selection" id="selection">
        {% partial 'ajax' %}
    </select>
</form>

<hr>

<form data-request="onSend">
    <label>Your name</label>
    <input type="text" name="name">
    {{ errors.first('name') }}
    <button type="submit">Send</button>
</form>

<div id="result"></div>
